@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(135deg, #ebd9e2, #f3f3f3);
}

/* SharedColor */
.centerAlignContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commonStoryBtn {
  width: 175px;
  height: 47px;
  border-radius: 48px;
  background-color: #3cd8e8;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
.smallText {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.sectionHeadText {
  font-size: 2.8rem;
  font-weight: bold;
  color: black;
}
.discriptiomText {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: justify;
  color: black;
}
.dFlex {
  display: flex;
}
.orange {
  color: #fea301;
}
.blue {
  color: #01acfd;
}
.blue2 {
  color: #05d4df;
}
.blue3 {
  color: #5d58ef;
}
.maxWidth {
  max-width: 1160px;
  margin: 0 auto;
}

/* 
nav bar */

a {
  text-decoration: none;
}
li {
  list-style: none;
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: bold;
}
.navContainer {
  justify-content: space-between;
  align-items: center;
}
.logoText {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
.logoContainer {
  justify-content: center;
  align-items: center;
}
.logoContainer img {
  width: 52.61px;
  height: 62px;
}

.status button {
  width: 197px;
  height: 50px;
  border: none;
  background-color: #fea301;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
}
.menuBar {
  display: none;
}

/* Banner */
.bannarContainer {
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.bannarHead {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.blackBtn {
  width: 197px;
  height: 50px;
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  background-color: black;
  font-weight: bold;
  border-radius: 12px;
}

/* Standard Curriculum*/
.StandardCurriculumContainer {
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.cart {
  width: 368px;
  height: 476px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ebd9e2, #f3f3f3);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.cart img {
  width: 130px;
  height: 111px;
}
.specialBtn button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fea301;
  color: white;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 100px 0px;
}

/* our story */

.storyC {
  justify-content: center;
  align-items: center;
}
.mainStory {
  width: 540px;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}
.mainStory img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}
.storyText {
  padding-left: 38px;
  padding-right: 38px;
}
.subStorys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.subStory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  text-align: center;
}
.subStory img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

#marginDesigine {
  margin-top: -30px;
  margin-left: -250px;
}
#marginDesigineBtn {
  margin-top: -15px;
  margin-left: -15px;
}

footer {
  background-color: #01acfd;
  width: 100%;
  color: white;
  margin-top: 50px;
}
.footertextCont {
  padding: 123px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footerLogo {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.footerLogoContainer {
  align-items: center;
  flex-direction: row;
}
.socialContainer span {
  margin-right: 15px;
}
/* 
@ media */

@media screen and (max-width: 576px) {
  body {
    justify-items: center;
  }
  .mainStory {
    display: none;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .StandardCurriculumContainer,
  .footertextCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bannarContainer {
    flex-direction: column;
    margin-left: 100px;
  }
  .bannarImage img {
    width: 100%;
  }
  .navLinks {
    display: none;
  }
  .status {
    display: none;
  }
  .menuBar {
    display: block;
    width: 30px;
    height: 30px;
  }
}
